<section class="post">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
  </a>
<button class="delete-btn" id="deletePostBtn" data-post-id="{{id}}">X</button>
  <p class="post-username">{{user.username}}</p>
  <p class="post-date">{{format_date createdAt}}</p>
  <p>{{content}}</p>
  <br>
  <h6>Comments:</h6>
  {{#each comments as |comment|}}
  <p>{{> comment-details}}</p>
  {{/each}}
</section>
