<section class="post">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
  </a>
  <div>
    <button class="deleteBtn" id="deletePostBtn" data-post-id="{{id}}">X</button>
    <button class="updateBtn" id="updatePostBtn" data-post-id="{{id}}" data-title="{{post.title}}" data-content="{{post.content}}">Update</button>
  </div>
  <p class="post-username">{{user.username}}</p>
  <p class="post-date">{{format_date createdAt}}</p>
  <p>{{content}}</p>
  <br>
  <h6>Comments:</h6>
  {{#each comments as |comment|}}
  <p>{{> comment-details}}</p>
  {{/each}}
</section>