<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    <h3>{{post_date}}</h3>
    <h4>{{username}}</h4>
    <p>{{content}}</p>
    <h6>Comments:</h6>
    <p>{{comments}}</p>
  </a>
</section>