<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
  </a>
  <h5>{{format_date post_date}}</h5>
  <h5>{{username}}</h5>
  <p>{{content}}</p>
  <h6>Comments:</h6>
  {{#each comments as |comment|}}
  <p>{{> comment-details}}</p>
  {{/each}}
</section>